@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.test{
    /* border: 1px solid red ; */
    width: 100% !important;

}